body{
    margin:0;
    padding:0;
}

.box{
    width:700px;
    height:560px;
    border:3px solid #336699;
    margin:100px auto;
    padding:5px;
}

.inner{
    width:700px;
    height:560px;
    position: relative;
    overflow:hidden;
}

.inner img{
    width: 700px;
    height:560px;
    vertical-align: top;
}

ul{
    width:100%;
    position: absolute;
    list-style: none;
    left:0;
    top:0;
}

.inner li{
    float: left;
}

ol{
    position: absolute;
    height:20px;
    right:20px;
    bottom: 20px;
    text-align: center;
    padding:5px;
}

ol li{
    display:inline-block;
    width:20px;
    height:20px;
    line-height: 20px;
    background-color: #fff;
    margin:5px;
    cursor: pointer;
}

ol .current{
    background-color:#00ff66;
}

#arrow{
    display:none;
}

#arrow span{
    width:40px;
    height:40px;
    position: absolute;
    left:5px;
    top:50%;
    margin-top: -20px;
    background-color: #fff;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight:bold;
    font-family: 'STHupo';
    color:#000;
    opacity:0.5;
    border:1px solid #fff;

}

#arrrow #prev{
    right:5px;
    left:auto;
}